.page {
    width: 95vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.gamebox {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3px;
    
}

.box {
    background-color: black;
}